<section class="top-search" layout layout-align="center center">

  <form class="box box-white" layout="column" layout-align="space-between end" flex="80" novalidate ng-submit="map.getPlaces()" style="z-index: 3">

    <div layout-fill>
      <md-input-container>
        <label>I'm looking for...</label>
        <input type="text" ng-model="map.address" autocomplete="off">
      </md-input-container>
    </div>

    <md-button class="md-raised md-primary" type="button" ng-click="map.getPlaces()">Search</md-button>

  </form>

</section>

<leaflet lf-center="map.center" layers="map.layers" class="map"></leaflet>
